// general configs

// path of workspace
// workPath my code/

// save history text length (s)
saveTime 10

// use mouse to roll and move
// warning: 会很卡，不要用。
useMouse 1

// auto bracket completion
bracketAC 1
// home to begining tab end
homeTabEnd 0

// background color
bgColor EEEEEE
// line number color
lineNum 6E7681
// use color config
useColor 1

// show invisible chars
showIC 0

// compile options
compileOp -std=c++20 -O2 -Wall -Wextra -DLOCAL